h1 {
  color: green;
}

ul {
  list-style-type: none;
}

#debugHelper {
  margin-top: 100px;
}

.section {
  width: 600px;
}

.title,
.subtitle {
  animation-name: rainbow;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-delay: 1s;
}

@keyframes rainbow {
  0%,
  100% {
    background: linear-gradient(to right, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
  }
  10% {
    background: linear-gradient(to right, black 66%, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  20% {
    background: linear-gradient(to right, black, red, orange);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  30% {
    background: linear-gradient(to right, red, orange, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  40% {
    background: linear-gradient(to right, orange, green, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  50% {
    background: linear-gradient(to right, green, blue, indigo);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  60% {
    background: linear-gradient(to right, blue, indigo, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  70% {
    background: linear-gradient(to right, indigo, violet, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  80% {
    background: linear-gradient(to right, violet, indigo, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  90% {
    background: linear-gradient(to right, indigo 33%, black);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
